//包含块通用样式
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 2rem;
  overflow: hidden;
}

// 字体图标背景共用颜色样式
.text-primary {
  color: #93cb52;
}

// 标准背景颜色
.bg-primary {
  background: #93cb52;
  color: #fff;
}

//居中通用样式
.text-center {
  text-align: center;
}

//亮背景的通用样式
.bg-light {
  background: #f4f4f4;
  color: #333;
}

//暗背景的通用样式
.bg-dark {
  background: #333;
  color: #fff;
}

// 大标题共用样式
.l-heading {
  font-size: 4rem;
  margin-bottom: 0.75rem;
  // 无单位数值（unitless number），相当于字体大小的倍数
  line-height: 1.1;
}

// 中标题共用样式
.m-heading {
  font-size: 2rem;
  margin-bottom: 0.75rem;
  // 无单位数值（unitless number），相当于字体大小的倍数
  line-height: 1.1;
}

//小标题共用样式
.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

//padding在x方向均为0，y方向上的01号样式,
.py-1 {
  padding: 1.5rem 0;
}

//padding在x方向均为0，在y方向上的02号样式
.py-2 {
  padding: 2rem 0;
}

//padding在x方向均为0，y方向上的03号样式
.py-3 {
  padding: 3rem 0;
}

//padding在x方向不为0，y方向上的01号样式
.p-1 {
  padding: 1.5rem;
}

//padding在x方向不为0，y方向上的02号样式
.p-2 {
  padding: 2rem;
}

//padding在x方向不为0，y方向上的03号样式
.p-3 {
  padding: 3rem;
}

// 按钮样式
.btn {
  display: inline-block;
  color: #fff;
  background-color: #93cb52;
  padding: 0.5rem 2rem;
  border-radius: 5px;
}

//按钮悬停样式
.btn:hover {
  background-color: #7ab436;
}

//按钮暗背景的通用样式
.btn-dark {
  background: #333;
  color: #fff;
}

//ul内部标准样式
.list {
  margin: 0.5rem 0;
  list-style: none;
}