# 依赖
node_modules/

# 环境变量
.env
.env.local
.env.*.local

# 日志
logs/
*.log
npm-debug.log*

# 上传文件
uploads/
public/uploads/

# 编辑器
.vscode/
.idea/
*.swp
*.swo

# 操作系统
.DS_Store
Thumbs.db

# 测试覆盖率
coverage/

# 临时文件
*.tmp
*.temp

# MySQL data 运行时目录，禁止git追踪
01-Stu/06-SQL/02-MySQL/01-DataBase/Data/

# innodb系统文件
*.dblwr
#ib_*
*.ibd
*.ibt
redo*
undo_*
*.log
