#navbar {
  ul {
    li {
      display: flex;
      flex-direction: column;
      justify-content: left;
      padding-left: 1rem;

      .first-menu {
        color: #333;
        text-align: left;
      }
    }

    li:hover {
      ul {
        width: 100%;
        position: relative;
        ;
      }
    }
  }
}