#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* 选中所有奇数(odd)/偶数(even)位置的 .item 元素 */
}
#container .item {
  background: #f4f4f4;
  border: #ccc solid 1px;
  padding: 1rem;
  margin: 0.75rem;
  text-align: center;
  flex: 1;
}
#container .item:first-child {
  flex: 2;
}
#container .item:nth-child(odd) {
  flex: 5;
}
