# MongoDB 8.3.2 配置文件
systemLog:
  destination: file
  path: "F:\\CodingMan\\Code2Git\\01-Stu\\02-SQL\\01-MongoDB\\01-DataBase\\log\\mongod.log"
  logAppend: true
  verbosity: 0

storage:
  dbPath: "F:\\CodingMan\\Code2Git\\01-Stu\\02-SQL\\01-MongoDB\\01-DataBase\\data\\db"
  # 注意：MongoDB 6.1+ 不再需要 storage.journal.enabled 配置项

net:
  port: 27017
  bindIp: 0.0.0.0
  # 如果需要远程访问，可以改为：bindIp: 0.0.0.0
  # 如果只允许本地访问，可以改为：bindIp: 127.0.0.0

processManagement:
  windowsService:
    serviceName: "MyMongoDB"
    displayName: "MyMongoDB"
    description: "MyMongoDB Database Server"
