//定义一些变量，用于存储页面元素的高度和宽度值
//pagebanner的高度为80px
@pagebannerHeight:80px;
    @pagebanner_logoWidth:200px;//logo的宽度为200px
    @pagebanner_banner1Width:540px;//banner1的宽度为540px
    @pagebanner_banner2Width:200px;//banner2的宽度为200px

//pagemenu的高度为30px
@pagemenuHeight:30px;
//pagemenu的宽度为960px
@pagemenuWidth:960px;

//pagecontent的高度为410px
@pagecontentHeight:410px;
    //pagecontent_leftItem_top_left/right的宽度为370px
    @pagecontent_leftItem_top_XWidth:370px;
    //pagecontent_leftItem_top_left/right的高度为200px
    @pagecontent_leftItem_top_XHeight:200px;

    //pagecontent_leftItem_bottom_left01~04的宽度为180px
    @pagecontent_leftItem_bottom_left0xWidth:180px;
    //pagecontent_leftItem_bottom_left01~04的宽度为200px
    @pagecontent_leftItem_bottom_left0xHeight:200px;

    //pagecontent_rightItem_top/middle/bottom/Width的宽度为200px
    @pagecontent_rightItem_XWidth:200px;
    //pagecontent_rightItem_top/middle/bottom/Height的高度为130px
    @pagecontent_rightItem_XHeight:130px;

//pagefooter的高度为60px
@pagefooterHeight:60px;
//pagefooter的宽度为960px
@pagefooterWidth:960px;

//页面元素之间的间距为10px
@pageHeightGap:10px;
//页面元素之间的间距为10px
@pageWidthGap:10px;

//整体页面的颜色
@backgroundColor-main:#DEDEDE;

//03-页面中字体到上表面的高度，使用行高设定为80px
@lineHeight-pagecontent:80px;